[Unit]
Description=Grafana Promtail
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/promtail-linux-amd64 -config.file=/etc/promtail.yml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
